div.wpsqt-question-info {
	width: 250px;
	border: 1px solid #A8A8A8;
	padding: 15px;
	margin-top: 50px;
}
div.wpsqt-survey-info {
	padding: 10px;
	margin-top: 50px;
	text-align: center;
}
div.wpsqt-question-review {
	margin-bottom: 75px;
}
div.wpsqt-progress {
	background-color: #BABABA;
	border-radius: 13px; 
	padding: 3px;
}
div.wpsqt-progress div {
	background-color: #707070;
	height: 10px;
	border-radius: 10px;
}

/* PFS additions */

.toggle-addtext-wrapper {
	margin: 10px 0 0 0;
}

.toggle-addtext {
	cursor: pointer;
	background: green;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #333;
	border-radius: 8px;
}

.toggle-addtext:hover {
	background: rgb(107,175,107);
}

.addtext {
	display: none;
	margin-top: 20px;
}

.wpsqt_question {
	margin-bottom: 30px;
}

th {
	text-align: left;
}

table#survey-answers {
	margin-right: 5px;
	border-collapse: collapse;
}

table#survey-answers td {
	border: 1px solid black;
	padding: 5px;
}

/* Toolkit */
.button-secondary {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	background: #333;
	border: none;
	border-radius: 5px;
	padding: 10px;
}

.wpsqt_multiple_question li {
	list-style-type: none;
	margin-left: 0;
}

ul.wpsqt_multiple_question {
	margin-left: 0;
}

.wpsqt_question textarea {
	margin-bottom: 10px;
}

.quiz p {
	margin-bottom: 0;
}

input, textarea {
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Arial, sans-serif!important;
}

.go-to-toolkit-wrapper {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
}

.go-to-toolkit-wrapper a {
	color: #fff;
}

.go-to-toolkit {
	background: green;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 40px;
	border: 1px solid #333;
	border-radius: 8px;
}

.go-to-toolkit:hover {
	background: rgb(107,175,107);
}

.table-answer {
	text-align: center;
	color: white;
	font-weight: bold;
}